/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Poppins:wght@300&display=swap');

/* .root {
      overflow-y: auto;
    max-height: 100%; 
} */

body {
  /* background-color: white; */
  background-color: rgb(248, 240, 240);
  /* background-color: rgb(248, 243, 243); */
  /* font-family: Roboto Slab; */
  font-family: Poppins;
  color: black;
  box-sizing: inherit;
  margin: 3%;
  line-height: 1.3;
  max-width: 100%;
  max-height: 100vh;
      overflow-y: auto;
    /* max-height: 100px;  */
}

/* .button {
   border-radius: 3px;
} */

#container{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 1.4vh;
  margin-top: 12%;
}

.middle-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#quote {
font-size: 3.2vh;
position: relative;
right: 0;
width: 70%;
margin-left: 30%;
font-style: italic;
font-weight: bold;
}

#historySection{
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-right: 0;
  min-width: 34%;

}
/* #history{
  font-size: 1.4%;
  margin-bottom: 1%;
  margin-top: 3%;
} */

#hisContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-left: -10%;
  /* outline: none;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2); */
  /* align-items: center; */
}

#hisContainer h2{
  margin-bottom: 0;
}

#innerBox{
  display: flex;
  margin: 1%
}

#weight{
  margin-left: 5%;
  /* margin-right: 2%; */
  /* margin-bottom: 2%; */
  font-size: 1.5vw;
  min-width: 30%;
}

#createdAt{
  display: flex;
  min-width: 80%;
  align-items: center;
}

#weight form {
  width: 30%;
  font-size: 2vw;
  margin-left: -5%;
}

#weight button {
  width: 5vw;
  height: 2vw;
  font-size: 1vw;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,.4);
  outline: none;
  border: none;
} 

#save{
  margin-left: 2%;
  border-radius: 3px;
}

#weight form input {
  font-size: 1.2vw;
  width: 12vw;
  height: 1.8vw;
  /* outline-color: white; */
  border-color: white;
}

#delete {
  font-size: 1.4vw;
  width: 3vw;
  height: 2vw;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
  outline: none;
  border: none;
  border-radius: 3px;
}
.bmi-goal-chart{
  display:flex;
  flex-direction: column;
}

.bmi-goal{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* BMI********************** */

.BMI {
  padding: 30px;
  outline: none;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
  width: 50%;
  min-width: 20vw;
  /* max-width: 30%; */
}

.BMI .current-BMI{
  display: flex;
  flex-direction: row;
}

.current-BMI h2{
  margin-right: 14px;
}

/* .BMI h3 {
  font-size: auto;
} */

/* GOAL********************** */

#goal-container {
  width: 50%;
  padding: 30px;
  outline: none;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
  min-width: 100%;
  margin: 0;
}

.goal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.progress h3, .plan h3{
  display: flex;
  flex-direction: row;
  /* margin: 2px; */
  justify-content: space-evenly;
}

#goal-container button{
  width: 7vw;
  height: 2vw;
  font-size: 1vw;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,.4);
  outline: none;
  border: none;
  border-radius: 3px;
}

/* .btn-modal{
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 2vw;
} */

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:fixed;
}

.overlay{
  background:rgba(87, 86, 86, 0.4)
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 18%;
  position:absolute;
  top:40%;
  left:50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: rgb(248, 240, 240);
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.modal-content p{
  font-size: 2vw;
}

.modal-content input {
  font-size: 1.2vw;
  width: 12vw;
  height: 1.8vw;
  /* outline-color: white; */
  border-color: white;
}
.new-goal-button {
  width: 7vw;
  height: 2vw;
  font-size: 1vw;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,.4);
  outline: none;
  border: none;
  align-items: center;
  margin:auto
}
.update-button{
  position:absolute;
  left:22%;
  bottom: 14%;
  padding: 5px 7px;
}

.close-button{
  position:absolute;
  left:62%;
  bottom: 14%;
  padding: 5px 7px;
}

/* CHART********************** */
#chart {
  position: relative;
  right: 0;
  height: 80vh;
  width: 60vw;
  /* margin-left: 40%; */
  margin-top:3%;
  font-size: 10%;
  /* min-width: 60vw; */
}

#userChart{
  /* height: 44%;
  width: 94%; */
  padding: 30px;
  outline: none;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
  min-width: 20vw;
}

#userChart canvas{
  width: 100%;
}

canvas{

  width:100% !important;
  height:600% !important;

}
/* #save{
  margin-left: 1%;
} */


/* WELCOME/LOGIN page********************** */

/* .applicationName{
  font-size: 50px;
  
} */

/* .login-container{
  margin-top: 12%;
  display: flex;
  justify-content: space-around;
} */

.welcome-container{
  margin-top: 12%;
  display: flex;
  justify-content: space-between;
}

.login-wrapper {
  /* display:flex; */
  justify-content: center;
  width: 30%;
}

.image{
  width: 50vh;
  height: auto;
  /* Magic! */
  max-width: 40vw;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,.8);
}
 .applicationName {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vw;
    background-color: rgb(36, 35, 35);
    /* color: #fff; */
    color:#f8f4f4;
    padding: 10px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.5);
 }

.main-logo {
  width: auto;
  height: auto;
  /* width: 50vh;
  height: auto; */
  max-width: 40vw;
  /* box-shadow: 2px 2px 4px 0 rgba(0,0,0,.8); */
}

.logout a {
  color: #333;
  text-decoration: none;
}

.logout button {
  margin: 50px 70px;
  /* margin-right: 30%; */
  /* background-color: rgb(248, 240, 240); */
  width: 8vw;
  height: 3vw;
  font-size: 1.4vw;
  box-shadow: 2px 2px 4px 2px rgb(170, 169, 169);
  outline: none;
  border: none;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}

.login-quote {
  font-style: italic;
  font-size: 2vw;
  margin-left: 60px;
  justify-content: flex-start;
  align-self: flex-end;
  max-width: 40vw;
}

 .applicationName h1{
  font-size: 6vw;
  margin-top: 0;
  margin-left: 30px;
  /* text-shadow: 3px 3px 6px pink; */
  text-shadow: pink 1px 0 10px;;
 }

.login h1{
  font-size: 2vw;
  margin: 0;
  /* text-shadow: pink 1px 0 10px;; */
}

.login p{
  font-size: 1.5vw;
  margin-bottom: 10px;
  margin-top:10px;
}

.login button {
  width: 5vw;
  height: 2vw;
  font-size: 1vw;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,.4);
  outline: none;
  border: none;
  border-radius: 3px;
}

.login-input{
  font-size: 1vw;
  width: 12vw;
  height: 1.4vw;
  /* outline-color: white; */
  border-color: white;
}

/* .login-signup-container{
  flex-direction: row;
}*/

.login-msg{
  min-width: 16vw; 
} 

.newAccount {
  font-size: 1vw;
  justify-content: flex-start;
}

/* SIGNUP page********************** */
.signup-container {
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60%;
  min-width: 60%;

  position: fixed;
  left: 20%;
  align-items: center;
}

.signup-container h1 {
  min-width: 30vw;
  font-size: 3vw;
}

.signup-box {
  display: flex;
  flex-direction: column;
  padding: 30px;
  /* justify-content: center; */
  outline: auto;
  max-width: 40%;
  min-width: 40%;
  justify-content: center;
  align-items: center;
  font-size: 10%;
  outline: none;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
}

.signup-box h2 {
  margin:0;
  font-size: 2vw;
}

.signup-box span {
  /* padding: 10px; */
  font-size: 1.4vw;
  margin-bottom: -10px;
}

.signup-box select, .signup-box button {
  font-size: 1.4vw;
  margin-bottom: 10px;
  height: 2vw;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,.4);
  outline: none;
  border: none;
}

.signup-box input {
  font-size: 1.4vw;
  height: 1.8vw;
  width: 14vw;
  outline-color: white;
  border-color: white;
  margin-bottom: 10px;
}

.signup-box button {
  font-size: 1vw;
  width: 5vw;
  height: 2vw;
  border-radius: 3px;
}

/* .signup-box button {
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,.4);
  outline: none;
  border: none;
} */

/* .logout button{
    background-color: white;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
} */